@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  h2 {
    @apply text-neutral-300 font-medium;
  }
  h3 {
    @apply text-neutral-300 font-medium;
  }
  p {
    @apply text-sm text-neutral-500;
  }
  *::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
}

@layer components {
  .bg-glass {
    @apply bg-white/5 border border-white/5 backdrop-blur-md cursor-pointer hover:border-white/10;
  }
}
